*~
*.pyc
*.html
CTestTestfile.cmake
Testing/*
lib/CMakeFiles/*
pyQCD/core/kernel/CTestTestfile.cmake
pyQCD/core/kernel/CMakeCache.txt
pyQCD/core/kernel/CMakeFiles/*
pyQCD/core/kernel/Makefile
pyQCD/core/kernel/cmake_install.cmake
pyQCD/core/kernel/lattice.so
pyQCD/core/kernel/libcudainverters.a
pyQCD/core/kernel/test_lattice
pyQCD.egg-info/*
build/*
dist/*
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
push
install_manifest.txt
docs/_build/*
docs/_static/*
docs/_templates/*
pyQCDcache/*
*.o
/*.npz
/*.zip
/*.npy
pyQCD/core/*.npz
pyQCD/core/*.zip
pyQCD/core/*.npy

*grind.out.*
