*~
*.pyc
*.html
.idea
pyQCDold*
pyQCD.egg-info/*
build/*
dist/*
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
push
install_manifest.txt
docs/_build/*
docs/_static/*
docs/_templates/*
*.o
*.npz
*.zip
*.npy

*grind.out.*
