*~
*.pyc
pyQCD/core/CMakeCache.txt
pyQCD/core/CMakeFiles/*
pyQCD/core/Makefile
pyQCD/core/cmake_install.cmake
pyQCD/core/lattice.so
pyQCD.egg-info/*
build/*
dist/*
CMakeCache.txt
CMakeFiles/*
setup.py
Makefile
cmake_install.cmake
push
install_manifest.txt
docs/_builds
